
	body {
		/*background: rgb(254, 254, 254) url("../images/body-bg.jpg") repeat scroll 0% 0% !important;*/
		background: #FFF none repeat scroll 0% 0%;
		max-width: 100%;
	}
	
	hr {
	  -moz-border-bottom-colors: none;
	  -moz-border-image: none;
	  -moz-border-left-colors: none;
	  -moz-border-right-colors: none;
	  -moz-border-top-colors: none;
	  border-color: #EEEEEE !important;
	  border-style: solid none !important;
	  border-width: 1px 0 !important;
	  margin: 18px 0 !important;
	}	

	a:hover{
		color: #005580;
		text-decoration: none;
	}
	a:active{
		color: #005580;
	}
	ul
		{
			list-style-type: none !important;
		}
	#span_wp_content_listview {

		min-height: 20px;
		padding: 10px;
		margin-bottom: 20px;
		background-color: #FFF;
		border: 1px solid #FFF;
		border-radius: 4px;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;

	}
	.details_text_headering_home_list{
		cursor: pointer;
		font-size: 1.2em !important;
	}
	.blockquote_details_text_headering_home_list{
		color: #2B2A28;
		font-size: 16px;
		text-transform: capitalize;
		word-wrap: break-word;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	}
	.question_marks{
		font-size:20px;
	}
	.list_v1_home li a span:hover{
		color: #000;
	}
	.list_v1_home_subhome{
		padding: 0px;
		margin: 0px 0px 6px 0px;
	}
    .fixted_top_control_header {
		width: 100%;
		float: left;
		height: 20%;
	}

	.field-content a{
		text-decoration:none;
	}.field-content a  .field-content:hover{
		color:#FFF;
		text-decoration:none;
	}
    /* Special class on .container surrounding .navbar, used for positioning it into place. */
	.navbar-wrapper-fixted{
		position: fixed;
		width: 100%;
		top: 0px;
		z-index: 9999;
	}
	.navbar-wrapper {
		width: 100%;
		background: #b70000;
		height: 40px;
	}
    .navbar-wrapper {
      position: absolute;
      /*top: 40px;*/
      top: 0px;
      left: 0;
      right: 0;
      z-index: 10;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }
	.nav-collapse .collapse{
		width: 100% !important;
		float: left;
	}
    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(254, 244, 244, 0.3);
         -moz-box-shadow: 0 2px 10px rgba(254, 244, 244, 0.3);
              box-shadow: 0 2px 10px rgba(254, 244, 244, 0.3);
    }
	.navbar .navbar-inner {
		box-shadow: none !important;
		width: 100% !important;
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      /*padding: 10px 13px;*/
    }
	
	.navbar .nav{
		width: 103% !important;
		float:left;
	}
	.navbar .nav > li {
    
		margin-right: 0px !important;
	}

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }
	
	
	
    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
     
	  margin-top: 21px;
    }
	.vsub_text_headering_homeindex{
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
	.content_v1_home_introduction {
		
		float: left;
	
		background: #201E1D none repeat scroll 0% 0%;
		height: 85px;
		opacity: 0.7;
		margin-top: -85px;
	}
	.content_v1_home_introductions {
		
		float: left;
		background: #201E1D none repeat scroll 0% 0%;
		height: 85px;
		opacity: 0.7;
		margin-top: -85px;
	}
	.content_v1_home_introductions span {
		color: rgb(255, 255, 255);
		margin-left: 10px;
		float: left;
		margin-top: 11px;
	}
	.content_v1_home_introduction span {
		color: rgb(255, 255, 255);
		margin-left: 10px;
		float: left;
		margin-top: 11px;
	}
    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }
	.carousel-inner {
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 450px !important;
	}
    .carousel-caption {
    background-color: transparent;
	position: static;
	max-width: 35%;
	margin-left: 63%;
	
	background: #ABA8A6 none repeat scroll 0% 0%;
	height: 100%;
	opacity: 0.8;
    }
	.field-content a {
		
		color:  rgb(183, 0, 0) !important; 
		/*color: rgb(245, 132, 21) !important;*/
	}
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }


/* Thin out the marketing headings */
    .description .views-field-title {
		margin-top: 50px;
		line-height: 30px;
		font-size: 40px;
		color: #000;
		font-family: "Adobe Garamond Pro",Georgia,"Times New Roman",Times,serif;
	}
	.description .views-field-body {
    font-size: 40px;
    line-height: 50px;
    color: #FFF;
    font-family: "Adobe Garamond Pro",Georgia,"Times New Roman",Times,serif;
	}
	.description .views-field-field-body {
		padding-top: 40px;
		font-size: 13px;
		line-height: 17px;
		text-transform: uppercase;
		color: #FFF !important;
		font-family: Arial,Helvetica,sans-serif;
	}
	.description .views-field-field-link {
		padding-top: 10px;
	}
	.title_slideshow_a {

		font-size: 100%;
		text-decoration: none !important;
	}

	.title_slideshow_a span:hover {

		font-size: 100%;
		text-decoration: none !important;
		color: #FFF;

	}
	
	.wp_content_listview {
		width: 100%;
		float: left;
	}
	.wp_content_listview {
		margin-bottom: 25px;
		border-radius: 8px;
	}
	.wp_content_listview_img_img {
		width: 20%;
		float: left;
		margin: 10px 20px 10px 5px;
	}
	.wp_content_listview_content_induction_title {
		font-family: arial;
		font-size: 22px;
		color: #AA3825;
		cursor: pointer;
	}
	.wp_content_listview_content_induction_title:hover {
		font-family: arial;
		font-size: 22px;
		color: #DB3512;
		cursor: pointer;
	}
	.wp_content_listview_content_induction {
		width: 75%;
		float: left;
	}
	.pagination {
		display: inline-block;
		padding-left: 0px;
		margin: 20px 0px;
		border-radius: 4px;
	}
	.text-center {
		text-align: center;
	}
	.pagination > li {
		display: inline;
	}
	.pagination > li > a, .pagination > li > span {
		position: relative;
		float: left;
		padding: 6px 12px;
		margin-left: -1px;
		line-height: 1.42857;
		color: #337AB7;
		text-decoration: none;
		background-color: #FFF;
		border: 1px solid #DDD;
	}
	.pagination > li:first-child > a, .pagination > li:first-child > span {
		margin-left: 0px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
		z-index: 3;
		color: #23527C;
		background-color: #EEE;
		border-color: #DDD;
	}
	
	.nav-collapse .nav .active a{
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
			
	}
	.nav-collapse .nav .active a{
		
		background-color: #9f0000;	
	}
	.nav-collapse .nav  a{
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
			
	}
	
	.nav-collapse .nav li:hover{
		color: #ffffff;
		background-color: #9f0000;
			
	}
	.nav-collapse .dropdown  a{
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
			
	}
	
	
	.text_headering_home{
		text-transform: uppercase; 
		width: 100%;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		color: #d90202;
	}
	.text_headering_subhome{
		text-transform: uppercase; 
		width: 100%;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		color: #d90202;
	}
	
	.title_home_span_layout4 {
	   text-transform: uppercase;
		width: 76%;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		text-align: center;
	}
	
	.home_logo_title_en {
		font-size: 14px !important;
		width: 100%;
		margin-top: -6px;
		float: left;
		color: #005B9E;
		text-align: center;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	}
	.home_logo_title_vi {
		width: 100%;
		font-size: 18px !important;
		float: left;
		color: #005b9e;
		text-align: center;
		padding-top: 10px;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	}
	
	.title_home_center_layout3 {
    color: #2d2c2c;
    text-align: left;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	padding-left:10px;
	}
	
	
	.wp_list_container {
		width: 100%;
		margin-bottom: 30px;
	}
	
	.images_list_content_pages{
		float: left;
		width: 40%;
		padding-right: 10px;
	}
	.li_list_wp_list_container_left{
	    width: 95%;
		float: left;
		margin-bottom: 15px;
		border-bottom: 2px dashed #f0d7d7 !important;
	}
	.content_li_list_wp_list_container_left {
		width: 100%;
		float: left;
		margin-bottom: 30px;

	}
	.wp_container_slideshow{
		width: 100%;
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		margin-bottom: 20px;
	}
	.title_home_span_layout4{
		color: #d90202;
		text-align: center;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		font-size: 14px !important;
	}
	.text_headering_home{
		font-size: 14px !important;
		padding-left: 36px;
		border-bottom: 1px solid;
		width: 90%;
	}
	.vsub_text_headering_homeindex {
		/*border-left: 1px solid rgb(225, 225, 225);
		border-right: 1px solid rgb(225, 225, 225) !important;*/
		
	}
	.text_headering_homeindex {
		padding-left:5px;
	}
	.text_headering_homeindex{
		text-transform: uppercase; 
		width: 100%;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		color: #d90202;
	}
	.text_headering_homeindex{
		padding-left: 10px;
		border-bottom: 1px solid;
		font-size: 14px !important;
		width: 97%;
	}
	.iconsetion_home {
		width: 100%;
		height: 250px;
	}
	.home_icon_iconsetion_home {
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		margin: 0px;
	}
	.extend_home_icon_iconsetion_home{
		margin-top: 20px;
	}
	.wp_list_container_left {
		/*border-right: 2px solid #f6f6f6 !important;*/
		width: 100%;
		float: left;
		/*box-shadow: 5px 5px 5px 5px #f6f6f6 !important;
		border-radius: 6px;*/
		background: #FFF none repeat scroll 0% 0%;
	}
	.wp_list_container_right {
		/*border-right: 3px solid #f6f6f6 !important;*/
		width: 100%;
		float: left;
		margin: 0px auto;
		/*box-shadow: 5px 5px 5px 5px #f6f6f6 !important;
		border-radius: 6px;*/
		border-radius: 6px;
		/*background: #FFF none repeat scroll 0% 0%;*/
		background-color: #EDEDED;
	}
	#heading_wp_list_container_left {
		width: 95%;
		float: left;
		margin: 20px;
		border-bottom: 2px dashed rgb(226, 226, 226) !important;
	}
	.title_heading_wp_list_container_left{
		
		text-transform: uppercase;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		color: #D90202;
		width: 100%;
	}
	.img_content_v1_home{
	    width: 100%;
	}
	.details_img_content_v1_home{
		    width: 100%;
			height: auto;
			display: block;
	}
	.text_headering_home_list a{
		color:#2a2626;
		 font-size: 19px;
		 text-transform: capitalize;
	}
	.details_content_li_list_wp_list_container_left{
		    margin: 25px auto;
	}
	.details_text_headering_home_list{
		       font-size: 24px;
				color: #b80606;
			text-transform: capitalize;
	}
	.details_title_heading_wp_list_container_left a {
		text-transform: uppercase;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		color: #4a4a4a;
		width: 100%;
	}
	.details_title_home_center_layout3{
		color: #989898;
		font-size: 14px;
		padding-bottom: 10px;
	}
	
	.news_hot_catelogy_list_pages_h3 {
		    color: #292929;
			text-decoration: none;
			text-align: left;
			font: normal 600 34px/36px "Unit Slab Pro Bold","Times New Roman",Times,serif;
			padding-bottom: 5px;
	}
	.content_news_hot_catelogy_list_pages{
		    color: #292929;
			font: normal 14px/18px Arial,Helvetica,sans-serif;
	}
	
	.li_data_task_hotnews  a{
		color: #000;
		text-decoration: none;
		font-size: 16px;
		text-transform: capitalize;
		word-wrap: break-word;
		font-family: Georgia,"Times New Roman",Times,serif;
	}
	.li_data_task_hotnews a:hover {
		color: #E28C05;
		
	}
	
	.li_data_task_hotnews {
		margin: 15px;
		border-bottom: 1px dotted #B6B1B0 !important;
		padding-bottom: 10px;
	}
	.li_data_task_hotnews_subhome {
		border-bottom: 1px dotted #B6B1B0 !important;
		padding-bottom: 10px;
		margin: 4px;
		text-align: left;
		width: 97%;
		padding: 5px;
	}
	.li_data_task_hotnews_subhome  a{
		color: #000;
		text-decoration: none;
		font-size: 16px;
		text-transform: capitalize;
		word-wrap: break-word;
		font-family: Georgia,"Times New Roman",Times,serif;
	}
	.li_data_task_hotnews_subhome a:hover {
		color: #E28C05;
		
	}
	.text_headering_subhome {
		padding-left: 3px;
		border-bottom: 1px solid;
		width: 100%;
		font-size: 14px !important;
	}
	.source_website a {
		float: right;
		margin-top: 14px;
		margin-bottom: 13px;
		color: rgb(171, 171, 171);
	}
	
	.source_website a:hover {
		color: #E28C05;
	}
	.header_idont_like_box {
		float: left;
		width: 100%;
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		height: 40px;
		position: fixed;
		top: 0px;
		z-index: 9999;
	}
	
	.header_idont_like_box_search_box {
		width: 50%;
		float: right;
		margin-top: 5px;
	}
	
	input#search_index {
		float: right;
		width:50%;
		height: 23px;
		
	}
	
	.icon_home_deaser_active {
		padding-right: 5px;
		margin-top: -7px;
	}
	
	.icon_home_deaser_active_vn {
		width: 25px;
		padding-top: 10px;
		height: 17px;
	}
	
	.dropdown-menu li {
		border-bottom: 1px dotted rgb(141, 118, 118) !important;
		
	}
	
	.fix_div_task_bar{
		width: 100%;
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.pane_title {
		margin-bottom: 5px;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		color: #e28c05;
		border-top: none;
	}
	.fix_def_calender_news{
		float: left;
		width: 100%;
		margin-top: 22px;
		border-top: 2px solid rgb(222, 222, 222) !important;
	}
	.text_headering_home_calender_news{
		
		color: rgb(62, 58, 58);
		float: left;
	}
	.day_tables:hover {
   background: #F9762F none repeat scroll 0% 0% !important;
	text-align: center !important;
	color: #fff !important;
	}
	
	.day_tables_highlight{
		color: rgb(255, 126, 0) !important;
		font-weight: bold;
	}
	.day_tables_highlight:hover{
		color: #fff !important;
		font-weight: bold;
	}
	.pane_content h3 {
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size: 12px;
		line-height: 18px;
		font-style: italic;
		font-weight: normal;
		text-transform: lowercase;
		color: #404040;
	}
	.tabsk_right_image_home_v2 {
		float: left;
		margin-top: 5px;
		width: 100%;
	}
	.vsub_text_headering_homeindexs {
		float: left;
		width: 385px;
		margin-top: 4px;
	}
	.vsub_text_headering_homeindexs .span4{
		
	}
	.calendar_home{
		float: left;
		width: 100%;
		margin-bottom: 110px;
	}
	
	
	
	
	
	